<br>
<br>

<div class="row">
        <div class="col-lg-12 text-center">
                <h2>Statistics By Type</h2>
                <hr class="star-primary">
        </div>
        <div id='myJson' style="display: inline-block;padding-left: 32%"></div>
</div>
<div class="row">
        <div class="col-lg-12 text-center">
                <h2>Statistics By Template</h2>
                <hr class="star-primary">
        </div>
        <div id='myChart' style="display: inline-block;padding-left: 32%"></div>

</div>









