<!DOCTYPE html>
<html lang="en">
<style>
    body {background-color:cornflowerblue; margin: 50px 100px }
    h1   {color:black; font-family: "Comic Sans MS"; font-size: 55px; text-align: center;}
    p    {color:black; font-family: "Comic Sans MS"; font-size: 15px;}
    div #left {width: 700px; margin-right: 10px;}
    div #right {padding-right: 100px;}
    img {width: 300px; height: 300px; padding-bottom: 50px; display: block; margin: auto;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Template 1</title>
    <h1></h1>
</head>
<body>
<div id="template1">
    <div id="left" style="float:left;">
        <p id="text"></p>
    </div>
    <div id="right" style="float:right;">
    </div>
</div>
</body>
</html>