<!DOCTYPE html>
<html lang="en">
<style>
    body {background: lightsteelblue; margin: 50px 100px; height: 537px; }
    h1   {color:black; font-family: "Arial"; font-style: italic; font-size: 55px; text-align: center;}
    p    {color:black; font-family: "Arial"; font-size: 18px;}
    div #left {width: 700px; margin-right: 10px;}
    div #right {padding-right: 100px;}
    img {width: 150px; height: 150px; padding-right: 180px; padding-left: 180px; padding-bottom: 50px; }
</style>
<head>
    <meta charset="UTF-8">
    <title>Template 3</title>
    <h1></h1>
</head>
<body>
<div id="template2">
    <div id="right">
    </div>
    <div id="left">
        <p id="text"></p>
    </div>
</div>
</body>
</html>