<!DOCTYPE html>
<html lang="en">
<style>
    body {background: lightskyblue; margin: 50px 150px; height: 537px; }
    h1   {color:black; font-family: "Cambria Math"; font-size: 55px; text-align: center;}
    p    {color: black; font-weight: bold; font-family: "Cambria Math"; font-size: 15px;}
    div #right {width: 400px;}
    div #left {padding-right: 10px;}
    img {width: 220px; height: 120px; padding-bottom: 50px; display: block; margin: auto;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Template 2</title>
    <h1></h1>
</head>
<body>
<div id="template2">
    <div id="left" style="float:right;">
        <p id="text"></p>
    </div>
    <div id="right" style="float:left;">
    </div>
</div>
</body>
</html>