<div class="customers view indent">
    <div class="container">
        <header>
            <h3>Messages</h3>
        </header>

            <div class="span3">
                <div class="navbar">
                    <a href="#/messageedit/0"><button type="button" class="btn btn-primary"> Add Message</button></a>
                </div>
            </div>
        <div class="row">
            <div class="span10">
                <div class="navbar">
                    <div class="toolbar">
                        <hr>
                            <a>Search Message</a>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Message Name:</label>
                            <input type="text" data-ng-model="messageName" class="form-control" placeholder="Name">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Screen:</label>
                            <input type="text" data-ng-model="messageScreen"  class="form-control" placeholder="Screen">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Template:</label>
                            <input type="text" data-ng-model="messageTemplate"  class="form-control" placeholder="Template">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>ID:</label>
                            <input type="text" data-ng-model="messageId"  class="form-control" placeholder="ID">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Duration:</label>
                            <input type="text" data-ng-model="messageDuration"  class="form-control" placeholder="Duration">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Duration:</label>
                            <input type="text" data-ng-model="type"  class="form-control" placeholder="Type">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>

        </br>
        </br>

        <div>
            <div class="row cardContainer show-hide-animation" data-ng-hide="listViewEnabled">
                <div class="span3 card card-animation"  data-ng-repeat="message in messages | filter:{name:messageName}| filter:{screens:messageScreen}| filter:{link:messageTemplate} |filter:{id:messageId}| filter:{duration:messageDuration} | filter:{tag:type}"
                     style="margin-top: 30px; height: 160px;">
                    <div class="cardHeader">{{message.name}} <i class="icon-edit icon-white editIcon"></i></div>
                    <div class="cardBody">
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="#/messageedit/{{message.id}}" class="white"></a>
                            </div>
                            <div class="pull-left cardBodyRight">
                                <div >
                                    Screens:
                                    <span ng-repeat="screen in message.screens">
                                        {{screen.id}}
                                    </span>

                                </div>

                                <div >
                                    Template:
                                    <span>
                                        {{message.link}}
                                    </span>

                                </div>
                                <div >
                                    Id:
                                    <span>
                                        {{message.id}}
                                    </span>

                                </div>

                                <div >
                                    Duration:
                                    <span>
                                        {{message.duration}}
                                    </span>

                                </div>
                                <div >
                                    Type:

                                    <span>
                                        {{message.tag}}
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="container" style="position: relative; left: -45px;">
                    <div class="row">
                        <!--delete message-->
                   <button type="button" class="btn btn-danger" data-ng-click="deleteMessage(message)"> Delete Message</button>
                        <!--edit message, link you to the message edit page-->
                    <a href="#/messageedit/{{message.id}}" class="white"><button type="button" class="btn btn-success"> Edit Message</button></a>
                    </div>
                    </div><br>
                </div>
            </div>

            <!--display only space when there's no message found-->
            <div class="row show-hide-animation" data-ng-show="messages.length == 0">
                <div class="span12">
                    <h4>No Messages found</h4>
                </div>
            </div>



            <br />
            <br />
        </div>
    </div>
</div>
