<section class="success" id="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Us</h2>

                <hr class="star-light">
                <div class="multiple" style="font-family: advertsFont;font-size: large">
                    Our company promotes the advertising of concerts.
                    We will advertise for you any kind of show.
                    <br> <br>
                </div>
            </div>
        </div>



        <div class="row">

            <div class="col-lg-4">

                <div class="multiple" style="font-family: commentFont;font-size: large">
                    We want to know what you think about us, leave comments.
                </div>
                <div class="fb-comments" data-href="https://www.facebook.com/Adverts-Online-404520629885483/" data-width="300" data-numposts="5"></div>

            </div>

            <div class="col-lg-4">
                <div class="multiple" style="font-family: advertsFont;font-size: large">
                   All shows locations.
                </div>
                <div id="map" style="position:relative;width:300px;height:300px; "></div>
            </div>
            <div class="col-lg-4">
                <div class="multiple" style="font-family: advertsFont;font-size: large">
                    The weather in our country -
                </div>
                <div class="weather" style="position: relative;width: 100%;height: 100%;">
                    <a target="_blank" href="http://booked.co.il/weather/tel-aviv-18414">
                        <img src="https://w.bookcdn.com/weather/picture/4_18414_1_25_e096d1_170_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=2&domid=&anc_id=56665"  alt="booked.net"/></a>
                </div>
            </div>

        </div>
    </div>
    <br>

</section>
