<hr>

<div class="container index" id="page-top">
    <div class="row">
        <div class="col-lg-12">
           <img class="img-responsive" src="{{message.picture.toString()}}" alt="" >
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>{{message.name}}</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p style="align-content: right">{{message.text.toString()}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <a href="#/reco" class="white"><button type="button" class="btn btn-success">Back</button></a>
        </div>
    </div>
</div>

